.jumbotron{
    background-image: url("/images/slider-2.png");
}

.container{
    text-align: center;
}
.breadcrumb{
    text-align: center;
    display: inline-flex !important;
    background-color: transparent !important;
}
.choice{
    display: inline-block;
    margin-left: 30px;
}
.find{
    margin-left: 30px;
}
.form-check{
    margin-left: 30px;
}
.pagination,
.pagination ul {
    float: left;
    position: relative;
}
.pagination
 {
     left: 50%;
}
.pagination ul 
{
     left: -50%; 
 }