.product-image img{
    height: 400px;
    width: 500px;
    margin-top: 30px;
    margin-left: 30px;
}
.product-name{
    margin-top: 30px;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.rates{
    margin-top: 30px;
    margin-left: 30px;
}
.rates div{
    display: inline-block;
    margin-top: -5px;
}
.stock{
    margin-left: 30px;
}
.status-stock{
    color: white;
    background-color: rgb(12, 190, 65);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
.price{
    margin-top: 40px;
    margin-left: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(12, 190, 65);
}
.button{
    margin-top:40px;
    margin-left: 30px;
}
table{
    margin-left: 40px;
    margin-top: 40px;
}
table th {
    color: gray;
}
table td {
    color: gray;
}
header{
    background-color: skyblue !important;
}
#related{
    margin-left: 30px;
}
nav .breadcrumb{
   color: white;
}
.col-md-6{overflow: hidden;
}